{
    "twitter": {
        "token": "",
        "token_secret": "",
        "consumer_key": "",
        "consumer_secret": ""
    },
    "email": {
        "recipient": "",
        "threshold": 5
    },
    "geo": {
        "enabled": false,
        "lat": 0.0,
        "long": 0.0
    }
}
