{
    "twitter": {
        "token": "",
        "token_secret": "",
        "consumer_key": "",
        "consumer_secret": ""
    },
    "email": {
        "recipient": "",
        "threshold": 5
    }
}
